# =========================
# Virtual environments
# =========================
.venv/
venv/

# =========================
# Dataset folders
# =========================
celeba_hq_256/
data/
*.zip

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# Model checkpoints
# =========================
models/
outputs/
*.pt
*.pth
*.ckpt
*.safetensors

# =========================
# Generated result folders
# =========================
results/generated_300/
results/real_test_300/

# =========================
# OS/editor junk
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/