# Local environments
.venv/
venv/

# Datasets (DO NOT COMMIT)
celeba_hq_256/
data/
*.zip

# Notebook/cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# Outputs
outputs/
results/
models/
*.pt
*.pth
*.ckpt
*.safetensors*.pth
